@import url('../GeneralStyles/root.css');

/**************************\
  Basic Modal Styles 
\**************************/

/* .modal {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  } */
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal__container {
    background-color: #eeeeee;
    padding: 30px;
    max-width: 700px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
  }
  
  .modal__title {
    margin: 0.3rem 0;
    margin-left: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.25;
    color: #232931;
    box-sizing: border-box;
  }
  
  .modal__close {
    margin: 0.3rem 0;
    margin-right: 0.7rem;
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  
  .modal__header .modal__close:before { 
    content: "\2715"; 
    color: rgb(180, 32, 32);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 0.6rem;
  }
  .modal__header .modal__close:hover { 
    filter: brightness(2);
    background-color: rgba(180, 32, 32, 0.253);
    border-radius: 50px;
  }
  
  .modal__content {
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }

  @media(min-width: 500px) {
    .modal__header {
      margin-bottom: 2rem;
    }  
  }
  @media (min-width: 600px) {
    .modal__container {
      padding: 35px;
    }  
  }
  
  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }